cloud_id = "b1gctmfeu6dk7hcqp38r"
folder_id = "b1g2kjmdmipuhd58cmgn"
zone = "ru-central1-a"
image_id = "fd898fo959q13nls9msu"
private_key_path = "~/.ssh/id_rsa"
subnet_id = "e9bimshf94117p1in0k9"
service_account_key_file = "~/servicekey.json"
public_key_path = "~/.ssh/id_rsa.pub"