cloud_id                 = "b1gctmfeu6dk7hcqp38r"
folder_id                = "b1g2kjmdmipuhd58cmgn"
zone                     = "ru-central1-a"
image_id                 = "fd898fo959q13nls9msu"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path          = "~/.ssh/id_rsa"
subnet_id                = "enpnm8bssa90lbac6ddm"
service_account_key_file = "/home/fjorny/key.json"
vm_zone                  = "ru-central1-a"


